[[plugins]] # dein
repo = 'Shougo/dein.vim'

[[plugins]]
repo = 'Shougo/deoplete.nvim'
on_i = 1
hook_add = '''
  " <TAB> で補完を選択
  inoremap <silent><expr> <Tab> pumvisible() ? "\<C-n>" : deoplete#mappings#manual_complete()
'''
hook_source = '''
  let g:deoplete#enable_at_startup = 1
'''

[[plugins]] # Toml
repo  = 'cespare/vim-toml'
on_ft = 'toml'

[[plugins]]
repo = 'scrooloose/syntastic.git'

[[plugins]] # Theme
repo = 'junegunn/seoul256.vim'

[[plugins]] # Theme
repo = 'mhartington/oceanic-next'

[[plugins]] # Theme
repo = 'joshdick/onedark.vim'

[[plugins]] # for Ruby
repo = 'tpope/vim-endwise'

[[plugins]] # indent
repo = 'Yggdroot/indentLine'

[[plugins]] # EditorConfig
repo = 'editorconfig/editorconfig-vim'

[[plugins]]
repo = 'haya14busa/incsearch.vim'

[[plugins]]
repo = 'Shougo/neomru.vim'
on_path = '.*'

[[plugins]]
repo = 'Shougo/denite.nvim'
depends = 'neomru.vim'
'''
hook_post_source = '''
call denite#custom#var('file_rec', 'command',
\ ['pt', '--follow', '--nocolor', '--nogroup', '--hidden', '-g', ''])
call denite#custom#var('grep', 'command',
\ ['pt', '--nogroup', '--nocolor', '--smart-case', '--hidden'])
call denite#custom#var('grep', 'default_opts', [])
call denite#custom#var('grep', 'recursive_opts', [])
'''
